python-dotenv
groq
openai
mistralai
cohere
chromadb
sentence-transformers
pdfplumber
PyPDF2
face_recognition
numpy
opencv-python
SpeechRecognition
pyttsx3
edge-tts
pyaudio
PyQt6
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
pillow